<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woshiku.jkshospticaldoctor">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".activity.base.BaseApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.activity.splash.SplashActivity"
                  android:theme="@style/SplashTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.main.MainActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.activity.login.LoginActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.activity.reception.AppointReceActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.activity.recetime.ReceTimeActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.activity.medicalsearch.MedicalSearchActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.activity.receptionhistory.ReceptionHistoryActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.activity.checkreception.CheckReceptionActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.activity.checkrecedetail.CheckReceDetailActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.activity.lookrecedetail.LookReceDetailActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.activity.checkticket.CheckTicketActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.activity.confirmorder.ConfirmOrderActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.activity.addressmanage.AddressManageActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.activity.dealedticketdetail.DealedConfirmDetailActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.activity.holddialogdetail.HoldDialogDetailActivity"
                  android:theme="@style/TranslucentTheme"
                  android:windowSoftInputMode="adjustPan|stateHidden"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
